
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #B9255E;
}
.menuScroll {
    width: 100%;
    height: 30px;
    overflow: hidden;
    display: none;
    transition: .5s;
    background-color: #9E1E52;
}
.menuScroll ul {
    display: none;
    margin-left:-30px;
}
.menuScroll:hover {
    height: 330px;
}
.menuScroll:hover ul {
    display:block;
}
.listaMenuScroll li {
    list-style: none;    
    margin-left: -10px;
    padding: 20px 0;
    transition: .5s;

}
.listaMenuScroll li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif; 
    font-size: 13px;
    margin-left: 20px;
    padding-right:  45%;
    border: 1px solid black;
}
.listaMenuScroll li:hover {
    background-color: #444;
}
.barraMenu {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #B9255E;   
}

.barraMenu a {
    text-decoration: none;
    margin-left: 20px;
    color: white;
    font-family: 'Roboto', sans-serif; 
    font-size: 15px;
    padding: 40px 0;
}
.icowt {
    display: inline-block;
    background-image: url(img/logo-whatsapp.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 140px;
    width: 160px;
    height: auto;
    padding: 10px;
}
.mainMenu {
    display: flex;    
    width: 78%;
    height: 63px;
}
.listaMenu {
    display: flex;
    width: 100%;
    height: auto;
    margin-left: -40px;;
    
}
.listaMenu li {
    display: flex;
    align-items: flex-end; 
    list-style: none;
    margin-right: 10px;
}
.listaMenu li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 10px 15px;   
    font-family: 'Roboto', sans-serif; 
    border: 2px solid white;
    border-radius: 20px;
    transition: .8s;
}
.listaMenu li a:hover  {
    color: rgb(248, 113, 219);
}
main {
    border: 20px solid #FA40AC;
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
    
}
.tag24hs {
    position: absolute;
    right: -60px;
    top: -83px;
}

.menuSecundario {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.listaMenuSecundario {
    display: flex;
}
.listaMenuSecundario li {
    list-style: none;
    margin: 0 10px 0 0;
}
.listaMenuSecundario li a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif; 
    font-size: 13px;
    color:#FF80B4;
    transition: .8s;
    padding: 5px;
    font-weight:400;

}
.listaMenuSecundario li a:hover {
    background-color:#FA40AC;
    color: white;
}
.contenedorInfo {
    width: 93%;
    height: auto;
    display: flex;
    font-family: 'Roboto', sans-serif; 
    color:#FA40AC;
}
.logo {
    width: 93%;
    height: auto;
    display: flex;
    align-items: flex-end;
}
.logo img {
    margin: 30px 100px 0 0;
}
.infoIzq,.infoDer {
    width: 50%;
} 
.infoIzq {
    font-size: 18px;
    line-height: 15px;
}
.infoIzq a {
    color:#FA40AC;
    
}
.infoDer {
    text-align: end;
    line-height: 10px;
    font-size: 17px;
}
.marcas {
    width: 97%;
}
.catalogo {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer {
    width: 99%;
    height: 135px;
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Roboto', sans-serif; 
}
.dinoContenedor {
    display: flex;
    width: 93%;
    height: 50px;;
}
.qr {
    display: flex;
    width: 60%;
    font-size: 13px;
    color:#FA40AC;  
}
.qr p {
    line-height: 5px;
    font-family: 'Roboto', sans-serif; 
}
.logoqr {
    margin-right: 15px;
}
.dino {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.whatsapp {
	position: fixed;
	left: 40px;
	bottom: 20px;
    cursor: pointer;
    display: flex;
    width: 120px;
    height: 70px;
    
}
.ico {
    width: 85px;
    height: 110%;  
}
.cartelito {
    background-color:#229933;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 3px;
    padding: 0px 10px;
    font-size: 13px;
    box-shadow: 1px 1px 10px 1px rgb(65, 61, 61);
    font-family: 'Roboto', sans-serif; 
    
}
.imgLogo {
    width: 30%;
     height: 70%
}
@media (max-width: 600px ) {
    .menuScroll {
        display: inline-block;
        z-index: 15;
    }
    .mainMenu {
        display: none;
    }
    main {
        width: 92%; 
        margin-top: 30px;
    }
    .logo {
        flex-direction: column;
        align-items: center;
        width: 97%;
        justify-content: center;
    }
    .logo img {
        margin: 30px 0 0 20px;
    }
    .contenedorInfo {
        flex-direction: column;
        align-items: center;
    }
    .infoIzq, .infoDer {
        text-align: center;
    }
    .infoDer {
        line-height: 20px;
    }
    .tag24hs {
        position:static;    
    }
    .imgLogo {
        width: 60%;
         height: 70%;
         margin-left: 50px;
         
    }
    .qr p {
        font-size: 10px;
        line-height: 10px;
    }
   
}